<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.htmls">Ecommerce</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign up</a>
            </div>
        </header>

        <main>
           <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/product1.png" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Áo sơ mi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            <span>120VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/product1.png" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Áo sơ mi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="price">
                            <span>120VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/product1.png" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Áo sơ mi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            <span>120VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/product1.png" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Áo sơ mi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            <span>120VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/product1.png" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Áo sơ mi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            <span>120VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/product1.png" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Áo sơ mi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            <span>120VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/product1.png" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Áo sơ mi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">120VNĐ</div>
                    </div>
                </div>
           </div>
        </main>

        <footer class="row center">
            All right reserved
        </footer>
    </div>
</body>
</html>